::-webkit-scrollbar {
	display: none;
}

.menu {
	font-family: 'Anek Devanagari', sans-serif;
	min-width: 250px;
	color: #fff;
	position: absolute;
	padding: 8px;
	background: #080808e9;
	-webkit-box-shadow: 10px 9px 42px -5px #0f0f1790;
	-moz-box-shadow: 10px 9px 42px -5px #0f0f1790;
	box-shadow: 10px 9px 42px -5px #0f0f1790;
	text-align: center;
}

.head {
	display: block;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	margin-left: 10px;
	margin-right: 10px;
}

.menu .head {
	font-family: 'Anek Devanagari', sans-serif;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	height: 28px;
	color: #ffffff;
}

.menu .menu-items {
	max-height: 650px;
	overflow-y: auto;
	font-weight: 500;
}

.menu-items {
	margin-bottom: 2px;
}

.menu .menu-items .menu-item {
	display: block;
	padding: 7px;
	font-size: 13px;
	height: 16px;
	text-indent: 5px;
	margin-top: 5px;
	background: #0000009e;
	color: rgb(202, 202, 202);
	text-align: left;
	border-radius: 10px;
	margin-bottom: 6px;
	opacity: 0.7;
}

.item-label,
.item-slider {
	line-height: 0px;
}

.item-label {
	text-align: left;
	margin-top: 11px;
}

.item-slider {
	text-align: right;
	margin-top: -14px;
}

.hint {
	max-width: fit-content;
	margin: auto auto;
}

.fa-info-circle {
	color: #ff0037d7;
}

.menu .menuHint {
	display: block;
	padding: 7px;
	font-size: 13px;
	min-height: 36px;
	height: fit-content;
	text-indent: 5px;
	margin-top: 0px;
	color: rgb(202, 202, 202);
	border-radius: 10px;
	margin-bottom: 6px;
	animation: fade 1s linear;
}

img {
	max-width: 220px;
	min-height: 36px;
	height: fit-content;
	border-radius: 10px;
}

@keyframes fade {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}

.menu .menu-items .menu-item.selected {
	background: #0000009e;
	border: 1.4px solid #565656b0;
	border-radius: 10px;
	color: rgb(243, 243, 243);
	letter-spacing: 0.2px;
	font-weight: 500;
	animation: button-hover 1s infinite;
	animation-timing-function: ease;

}

@keyframes button-hover {
	0% {
		opacity: 0.7
	}

	50% {
		opacity: 1
	}

	100% {
		opacity: 0.7
	}
}

.menu.align-left {
	left: 40;
	top: 50%;
	transform: translate(0, -50%);
	border-radius: 10px;
}

.menu.align-top-left {
	left: 40;
	top: 40;
	border-radius: 10px;
}

.menu.align-top {
	left: 50%;
	top: 40;
	transform: translate(-50%, 0);
	border-radius: 10px;
}

.menu.align-top-right {
	right: 65;
	top: 40;
	border-radius: 10px;
}

.menu.align-right {
	right: 65;
	top: 50%;
	transform: translate(0, -50%);
	border-radius: 10px;
}

.menu.align-bottom-right {
	right: 65;
	bottom: 40;
	border-radius: 10px;
}

.menu.align-bottom {
	left: 50%;
	bottom: 40;
	transform: translate(-50%, 0);
	border-radius: 10px;
}

.menu.align-bottom-left {
	left: 40;
	bottom: 40;
	border-radius: 10px;
}

.menu.align-center {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}